<br><br>
<h1 class="text-center">チーム一覧</h1>
<div class="mx-auto justify-content-center" style="width: 1200px;">
  <table class="table">
    <thead class="bg-info">
      <tr>
        <th scope="col">#</th>
        <th scope="col">チーム名</th>
        <th scope="col">チームメンバー数</th>
        <th scope="col">プロジェクト数</th>
        <th scope="col">作成日</th>
        <th scope="col">作成者</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @teams.each do |team| %>
        <% if team.members.count == 0 %>
          <tr>
          </tr>
        <% else %>
          <tr>
            <th scope="row"><%= team.id %></th>
            <td><%= team.name %></td>
            <td><%= link_to "#{team.members.count}", "/teams/#{team.id}/members" %></td>
            <td>-</td>
            <td><%= team.team_create_date %></td>
            <td>-</td>
            <td><%= link_to("詳細", "/teams/#{team.id}", class: "btn btn-primary btn-sm") %></td>
            <td><%= link_to("編集", "/teams/#{team.id}/edit", class: "btn btn-primary btn-sm") %></td>
            <td><%= link_to("削除", "/teams/#{team.id}", class: "btn btn-danger btn-sm", method: :delete, data: {confirm: "このチーム削除しますか？"}) %></td>
            
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

</div>