<br><br>
<div class="mx-auto justify-content-center", style="width: 500px;">
<h1>メンバー追加</h1>
<p class="fs-4">チーム名:<%= @team.name %></p>
<table class="table">
  <thead>
    <tr>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% @team.members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.email %></td>
        <td><%= link_to("削除", "/teams/#{@team.id}/members/#{member.id}", class: "btn btn-danger btn-sm", method: :delete, data: {confirm: "このメンバー削除しますか？"}) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= form_with(model: [@team, @member], local: true) do |f| %>
  <% if @member.errors.any? %>
    <% @member.errors.full_messages.each do |message| %>
      <p class="fw-bold" style="color:red;"><%= message %></p>
    <% end %>
  <% end %>
  <div class="mb-3">
    <%= f.label :name, "氏名", class: "form-label" %><br />
    <%= f.text_field :name, class: "form-control", style: "width:250px" %>
  </div>
  <div class="mb-3">
    <%= f.label :email, "メール", class: "form-label" %><br />
    <%= f.email_field :email, class: "form-control", style: "width:250px" %>
  </div>
  <%= link_to "戻る", :back, class: "btn btn-primary" %>
  <%= f.submit "メンバー追加", class: "btn btn-primary" %>
  <%= link_to "メンバー追加終了", "/teams/#{@team.id}/members", class: "btn btn-primary" %>
<% end %>

</div>