<br><br>
<div class="container" id="members">
<h2 class="text-center">メンバー追加</h2>
<p class="fs-4 text-center">チーム名 : <%= @team.name %></p>
<table class="table" id="index-tables">
  <thead>
    <tr>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% @team.members.each do |member| %>
      <tr>
        <td data-title="氏名"><%= member.name %></td>
        <td data-title="メールアドレス"><%= member.email %></td>
        <td data-title="削除"><%= link_to "/teams/#{@team.id}/members/#{member.id}", method: :delete, data: {confirm: "このメンバーを削除します。よろしいですか？"} do %>
          <i class="fa fa-trash fa-2x " style="color:red"></i>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="d-flex justify-content-center">
<%= form_with(model: [@team, @member], local: true) do |f| %>
  <% if @member.errors.any? %>
    <% @member.errors.full_messages.each do |message| %>
      <p class="fw-bold" style="color:red;"><%= message %></p>
    <% end %>
  <% end %>
  <div class="mb-3">
    <%= f.label :name, "氏名", class: "form-label" %><br />
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :email, "メール", class: "form-label" %><br />
    <%= f.email_field :email, class: "form-control"%>
  </div>
  <%= link_to "戻る", :back, class: "btn btn-primary" %>
  <%= f.submit "メンバー追加", class: "btn btn-primary" %>
  <%= link_to "メンバー追加終了", "/teams/#{@team.id}/members", class: "btn btn-primary" %>
<% end %>

</div>