<br><br>
<div class="mx-auto justify-content-center", style="width: 400px;">
<h1 class="text-center">チームの詳細</h1>
<table class="table">
  <tbody>
    <tr>
      <td scope="col">チーム名</td>
      <td scope="col"><%= @team.name %></td>
    </tr>
    <tr>
      <td scope="col">チームの作成者</td>
      <td scope="col"><%= @team.user.name %></td>
    </tr>
    <tr>
      <td scope="col">メンバー</td>
      <td scope="col">
        <ol>
          <% @team.members.each do |member| %>
            <li>
              <%= member.name %>
            </li>
          <% end %>
        </ol>
      </td>
    </tr>
    <tr>
      <td scope="col">プロジェクト</td>
      <td scope="col">
        <ol>
          <% @team.projects.each do |project| %>
            <li>
              <%= project.name %>
                <ul>
                  <li>
                    <%= project.description %>
                  </li>
                </ul>
            </li>
          <% end %>
        </ol>
      </td>
    </tr>
  </tbody>
</table>
<%= link_to "戻る", :back, class: "btn btn-primary" %>
</div>