<br><br>
<div class="mx-auto justify-content-center", style="width: 400px;">
<h1 class="text-center">チームの詳細情報</h1>
<table class="table">
  <tbody>
    <tr>
      <td class="fw-bold" scope="col">チーム名</td>
      <td scope="col"><%= @team.name %></td>
    </tr>
    <tr>
      <td class="fw-bold" scope="col">チームの作成者</td>
      <td scope="col"><%= @team.user.name %></td>
    </tr>
    <tr>
      <td class="fw-bold" scope="col">チームの作成日</td>
      <td scope="col"><%= @team.team_create_date %></td>
    </tr>
    <tr>
      <td class="fw-bold" scope="col">メンバー</td>
      <td scope="col">
        <% if @team.members.count != 0 %>
          <ol>
            <% @team.members.each do |member| %>
              <li>
                <%= member.name %>
              </li>
            <% end %>
          </ol>
        <% else %>
        -
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="fw-bold" scope="col">プロジェクト</td>
      <td scope="col">
        <% if @team.projects.count != 0 %>
          <ol>
            <% @team.projects.each do |project| %>
              <li>
                <%= project.name %>
                  <ul>
                    <li>
                      <%= project.description %>
                    </li>
                  </ul>
              </li>
            <% end %>
          </ol>
        <% else %>
        -
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<%= link_to "戻る", :back, class: "btn btn-primary" %>
</div>