<br><br>
<div class="mx-auto justify-content-center" style="width: 500px;">
<h1>メンバー追加</h1>
<p class="fs-4">チーム名:<%= @team.name %></p>
<table class="table">
  <thead>
    <tr>
      <th>氏名</th>
      <th>メールアドレス</th>
    </tr>
  </thead>
  <tbody>
    <% @team.members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= form_with(model: [@team, @member], local: true) do |f| %>
  <div class="mb-3">
    <%= f.label :name, "氏名", class: "form-label" %><br />
    <%= f.text_field :name, class: "form-control", style: "width:250px" %>
  </div>
  <div class="mb-3">
    <%= f.label :email, "メール", class: "form-label" %><br />
    <%= f.email_field :email, class: "form-control", style: "width:250px" %>
  </div>
  <%= f.submit "メンバー追加", class: "btn btn-primary" %>
<% end %>
</div>