<br><br>
<div class="container">
  <div class="container">
    <h2 class="text-center">チームの詳細情報</h2>
  </div>
  <div class="card">
    <h5 class="card-header">チーム名</h5>
    <div class="card-body">
      <p class="card-text"><%= @team.name %></p>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">チーム作成者</h5>
    <div class="card-body">
      <p class="card-text"><%= @team.user.name %></p>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">チーム作成日</h5>
    <div class="card-body">
      <p class="card-text"><%= @team.team_create_date %></p>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">メンバー</h5>
    <div class="card-body">
      <% if @team.members.count != 0 %>
        <ol>
          <% @team.members.each do |member| %>
            <li>   
              <p class="card-text"><%= member.name %></p>  
            </li>
          <% end %>
        </ol>
        <% else %>
        <p class="card-text">-</p>  
      <% end %>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">プロジェクト</h5>
    <div class="card-body">
      <% if @team.projects.count != 0 %>
          <% @team.projects.each_with_index do |project,index| %>
              <h5 class="card-title"><%= index + 1 %>.<%= project.name %></h5>
                <ul>
                  <li>
                    <p class="card-text"><%= project.description %></p>  
                  </li>
                </ul>
          <% end %>
      <% else %>
      <p class="card-text">-</p>
      <% end %>
    </div>
  </div>
  <%= link_to "戻る", :back, class: "btn btn-primary" %>
</div>
