<br><br>
<div class="container">
  <div class="container">
    <h2 class="text-center">プロジェクトの詳細情報</h2>
  </div>
  <div class="card">
    <h5 class="card-header">プロジェクト名</h5>
    <div class="card-body">
      <p class="card-text"><%= @project.name %></p>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">プロジェクト内容</h5>
    <div class="card-body">
      <p class="card-text"><%= @project.description %></p>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">チーム名</h5>
    <div class="card-body">
      <p class="card-text"><%= @project.team.name %></p>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">開始日</h5>
    <div class="card-body">
      <p class="card-text"><%= @project.start_date.strftime("%Y-%m-%d") %></p>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">終了日</h5>
    <div class="card-body">
      <p class="card-text"><%= @project.end_date.strftime("%Y-%m-%d") %></p>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">ステータス</h5>
    <div class="card-body">
      <% if (@project.start_date <= Date.current) and (@project.end_date > Date.current) %>
        <p class="card-text">作業中</p>
      <% elsif (@project.start_date > Date.current) %>
        <p class="card-text">対応</p>
      <% else %>
        <p class="card-text">完了</p>
      <% end %>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">プロジェクト作成者</h5>
    <div class="card-body">
      <p class="card-text"><%= @project.team.user.name %></p>
    </div>
  </div>
  <%= link_to "戻る", :back, class: "btn btn-primary" %>
</div>
