<br><br>
<div class="mx-auto justify-content-center", style="width: 400px;">
<h1 class="text-center">チームの詳細</h1>
<table class="table">
  <tbody>
    <tr>
      <td scope="col">プロジェクト名</td>
      <td scope="col"><%= @project.name %></td>
    </tr>
    <tr>
      <td scope="col">プロジェクト内容</td>
      <td scope="col"><%= @project.description %></td>
    </tr>
    <tr>
      <td scope="col">開始日</td>
      <td scope="col"><%= @project.start_date.strftime("%Y-%m-%d") %></td>
    </tr>
    <tr>
      <td scope="col">終了日</td>
      <td scope="col"><%= @project.end_date.strftime("%Y-%m-%d") %></td>
    </tr>
  </tbody>
</table>
<%= link_to "戻る", :back, class: "btn btn-primary" %>
</div>